section{
    height: 70vh;
}

#imag{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 80vh;
    
}
.splash {
    /* absolute center .splash within .splash-container */
    width: 100vw;
    height: auto;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  /* This is the main heading that appears on the blue section */
  .splash-head {
    font-size: 50px;
    
    text-align: center;
    
    
  }
  #butt{
    background-color: transparent;
    border: 2px solid white;
    font-weight: bolder;
    color: yellow;
    padding: 1em 1.6em;
    font-weight: bold;
    line-height: 1em;
  }




  
  /* This is the subheading that appears on the blue section */
  .splash-subhead {
    color: yellow;
    word-spacing: 5px;
    font-size: 30px;
    font-weight: bold;
  }
  #list{
    color: black;
    font-size: 25px;
    font-weight: bold;
  }
  .content {
    padding: 1em 1em 3em;
    text-align: center;
  }
  
  /* This is the class used for the main content headers (<h2>) */
  .content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
    margin-top: 180px;
  }
  
  #support{
    text-align: center;
  }
  /* This is a modifier class used when the content-head is inside a ribbon */
  .content-head-ribbon {
    color: white;
  }
  
  /* This is the class used for the content sub-headers (<h3>) */
  .content-subhead {
    color: #1f8dd6;
  }
  .content-subhead i {
    margin-right: 7px;
  }


  .photo-box,
.text-box {
  overflow: hidden;
  position: relative;
  height: auto;
  text-align: center;
}

.photo-box-thin {
  height: 120px;
}

.photo-box img {
  max-width: 100%;
  height: 500px;
  min-height: 250px;
}

.photo-box aside {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em 0.5em;
  color: white;
  width: 100%;
  font-size: 80%;
  text-align: right;
  background: linear-gradient(
    to bottom,
    rgba(16, 27, 30, 0) 0%,
    rgba(12, 2, 2, 1) 90%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */
}

.photo-box aside span {
  color: #aaa;
}

.photo-box aside span a {
  color: #ccc;
  text-decoration: none;
}


.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
  }
  
  .pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
  }
/* This is the class used for the dark-background areas. */
.ribbon {
    background: #1f8dd6;
    color: #aaa;
  }
  
  /* This is the class used for the footer */
  .footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  