@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');
h1,h2, h3, h6, nav, button {
  font-family: 'Kings', cursive;
  
}
p{
  font-family: 'Kings', cursive;
  font-size: 45px;

}

#hero {
  text-align: center;
  font-weight: bolder;
}
.muse {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
#form{
  text-align: center;
}