
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');
body{
  background:  #e0e0ff ;
  
}
h1,h2, h3, h6, nav, button, form {
  font-family: 'Eczar', serif;
  
}
h1{
  color: #5D3FD3;
  text-decoration: underline;
}
h2{
  text-decoration: underline;
}
p, .lead {
  font-family: 'Eczar', serif;
  font-size: 20px;
  


}

#hero {
  text-align: center;
  font-weight: bolder;
}
.muse {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
#form, .featurette-heading{
  text-align: center;
}
#see{
  background: a#c4aead;
}.io{
  text-align: center;
  font-size: 60px;
}
.btns{
  align-items: center;
}
#cent{
 justify-content: space-between;
}
.btn{
  color: #5D3FD3;
}#submit{
  color: white;
}